@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

.popular_projects_contain {
    margin: 5%;
}

.popular__projects {
    text-align: center;
    color: #b8b6b4;
    font-family: 'Unbounded', cursive;
}

/*all projects text*/

.all_projects_contain {
    margin-top: 10%;
}

/* Scroll Bar */

body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(17, 17, 17);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}