.card_contain {
    margin-top: 5%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-right: 1%;
    margin-top: 1%;
}

.card-text{
    overflow-y: scroll;
    max-height: 100px;
    color: #b8b6b4;
}

.card-body {
    max-height: 210px;
}

/* Scroll Bar */

.card-text::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  
.card-text::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);        /* color of the tracking area */
}
  
.card-text::-webkit-scrollbar-thumb {
    background-color: rgb(17, 17, 17);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}