.carousel {
    margin-top: 5%;
    height: 500px !important;
    width: 60%;
    margin: 5% auto;
}

.carousel-inner img {
    height: 500px !important;
    margin: 0 auto;
    cursor: pointer;
}

