@media (max-width: 959px) {
    .footer_contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        max-height: 100%;
        margin: 0 auto;
    }

    .carousel {
        margin-top: 5%;
        height: 400px !important;
        width: 90%;
        margin: 5% auto;
    }
    
    .carousel-inner img {
        height: 400px !important;
        margin: 0 auto;
        cursor: pointer;
    }
}

@media (max-width: 755px) {
    .footer-brend p {
        font-size: 16px;
    }
    
    .footer-text p {
        font-size: 11px;
    }
}

@media (max-width: 650px) {
    footer {
        margin-top: 10%;
        max-width: 100%;
        max-height: 150px;
        background-color: rgb(0, 0, 0);
    }

    .carousel {
        margin-top: 5%;
        height: 200px !important;
        width: 100%;
        margin: 5% auto;
    }
    
    .carousel-inner img {
        height: 200px !important;
        margin: 0 auto;
        cursor: pointer;
    }
}

@media (max-width: 390px) {
    .footer_contain {
        display: block;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        max-height: 100%;
        margin: 0 auto;
    }
    .footer-brend p {
        margin-bottom: 5px;
    }
}